/* ------ catalunya map css ----------*/

.mapWrapper {
	margin:0 auto;
	position:relative;
}

#map {
	float:left;
	clear:both;
}

#debugInfo{
	position: fixed;
    top: 10px;
    right: 50px;
}

/** Text */

#text{
	margin-top: 100px;

	float:right;
	width:200px;
	/*overflow: auto;*/

 	/* Size and position */
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;

}

#comarcaName h1{
    font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
    font-style:normal;   
    letter-spacing: -1px;
    padding: 0;
}


#infoEdifici{

 	/* Size and position */
    margin: 0 auto;
    padding: 0;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;

}

.llistat-edificis {
	padding: 0;
    margin: 0px;

    /* Styles */
    background: white;
    font-weight: normal;
    list-style: none;

    /* Hiding */
    pointer-events: none;
}

.llistat-edificis li a {
    display: block;
    padding: 2px;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    text-decoration: none;
    color: #8aa8bd;
}

.llistat-edificis li i {
   float: right;
   color: inherit;
   margin-right: 15px;
}