/* ------ catalunya map css ----------*/

.mapWrapper {
	margin:0 auto;
	position:relative;
	height: 425px;
	width: 400px;
}

#map {
	float:left;
	clear:both;
}

/* change cursor on map and his own text. */
svg>text,svg>path {
	cursor: pointer;
}

#debugInfo{
	position: fixed;
    top: 10px;
    right: 50px;
}