SERVER_HOST=/js/catalunya-map-path-sample-min.json
DEBUG=true

RESPONSIVE=true
USE_TEXT=true
USE_LIST_TEXT=false
BUTTON=false
ON_CLICK=false
NEW_WINDOW=false

COLOR_IN="#fee8cb"
COLOR_OUT="#fff"

SCALE=0.8

MAP_INIT_WIDTH=825
MAP_INIT_HEIGHT=800
TEXT_INIT_WIDTH=250
MAP_WIDTH=825
MAP_HEIGHT=800
